project_prefix     = "prefix"
owner_tag          = "owner@email"

vsphere_server     = ""
vsphere_user       = ""
vsphere_password   = ""
vsphere_datacenter = "Datacenter"
vsphere_cluster    = "Cluster"

f5xc_api_url      = "https://tenant.ves.volterra.io/api"
f5xc_api_p12_file = ".p12"
f5xc_tenant       = "tenant-...."
f5xc_api_token    = ""
#
f5xc_ova_image    = "/tmp/centos-7.2009.27-202209150812.ova"
ssh_public_key    = "ssh-rsa AAAA...."

